<div #card class="card">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
    <div class="ellipse-1"></div>
    <div class="ellipse-2"></div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>