@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

::ng-deep {
    .mat-form-field-underline{
        height: 1.5px !important;
        background-color: #B6E0DA !important;
    }
    .mat-form-field-ripple{
        background-color: #B6E0DA !important;
    }

    .mat-input-element::placeholder{
        color: #B6E0DA;
    }

    .content{
        font-family: 'Montserrat', sans-serif; 
    }
}

.card{
    width: 345px;
    height: 595px;
    background: #EBF5F4;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.blur{
    filter: blur(8px);
}

.card-1{
    .line-1{
        position: absolute;
        width: 315px;
        height: 500px;
        border-top: 10px solid #022F28;
        border-left: 10px solid #022F28;
        margin-left: -30px;
        z-index: 20;
        border-top-left-radius: 20px;
    }
    .line-2{
        position: absolute;
        width: 345px;
        height: 50px;
        border-bottom: 10px solid #007362;
        border-left: 10px solid #007362;
        margin-top: 545px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 30;
    }
    .line-3{
        position: absolute;
        width: 100px;
        height: 585px;
        border-right: 10px solid #007362;
        border-top: 10px solid #007362;
        border-bottom: 10px solid #007362;
        margin-left: 250px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 30;
    }
    .ellipse-1 {
        position: absolute;
        width: 55px;
        height: 55px;
        margin-left: -340px;
        margin-top: 500px;
        border-radius: 40px;
        border: 10px solid #022F28;
        box-sizing: border-box;
        z-index: 40;
        background-color: #EBF5F4;
    }
    
    .ellipse-2 {
        position: absolute;
        width: 55px;
        height: 55px;
        margin-left: 145px;
        margin-top: -20px;
        border-radius: 40px;
        border: 10px solid #007362;
        box-sizing: border-box;
        z-index: 40;
        background-color: #EBF5F4;
    }
}

.card-2{
    .line-1{
        position: absolute;
        width: 315px;
        height: 500px;
        border-top: 10px solid #022F28;
        border-left: 10px solid #022F28;
        margin-left: -30px;
        z-index: 20;
        border-top-left-radius: 20px;
    }
    .line-2{
        position: absolute;
        width: 345px;
        height: 50px;
        border-bottom: 10px solid #007362;
        border-left: 10px solid #007362;
        margin-top: 545px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 30;
    }
    .line-3{
        position: absolute;
        width: 100px;
        height: 585px;
        border-right: 10px solid #007362;
        border-top: 10px solid #007362;
        border-bottom: 10px solid #007362;
        margin-left: 250px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 30;
    }
    .ellipse-1 {
        position: absolute;
        width: 55px;
        height: 55px;
        margin-left: -340px;
        margin-top: 500px;
        border-radius: 40px;
        border: 10px solid #022F28;
        box-sizing: border-box;
        z-index: 40;
        background-color: #EBF5F4;
    }
    
    .ellipse-2 {
        position: absolute;
        width: 55px;
        height: 55px;
        margin-left: 145px;
        margin-top: -20px;
        border-radius: 40px;
        border: 10px solid #007362;
        box-sizing: border-box;
        z-index: 40;
        background-color: #EBF5F4;
    }
}