$text-color-main:#007362;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .main-block{
        align-self: center;
        margin-top: auto; 
        margin-bottom: auto;
        width: 345px;
        height: 595px;
        background: #EBF5F4;
        display: flex;
        flex-direction: row;
        justify-content:center;
        // padding-bottom: 20px;

        .content{
            display: flex;
            flex-direction: column;
            position: absolute;
            // background-color: red;
            justify-items: center;
            justify-self: center;
            justify-content: center; 
            z-index: 1000;
            padding-top: 50px; 
    
            .title{
               font-size: 35px;
               line-height: 42px;
               font-weight: 400;
               text-align: center;
               color: $text-color-main;
            }
    
            .form{
                display: flex;
                flex-direction: column;
                width: 270px;
    
                .icon{
                    position: absolute;
                    margin-top: -4px;
                }
    
                input{ 
                    padding-left: 30px;
                    font-weight: 500;
                    // color: #B6E0DA;
                }
    
                .forgot-password{
                    text-align: right;   
                    color: #007362;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    position: absolute;
                    right: 0;
                    bottom: -25px;
                    cursor: pointer;
                }
    
                .submit-btn{
                    border-radius: 17px;
                    background: radial-gradient(320.93% 5704.76% at 100% -101.16%, #1BE4C7 0%, #50B5A6 32.72%, #2DDFC5 66.6%, #007362 100%) 
                    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                    width: 100%;
                    height: 46px;
                    font-size: 25px;
                    font-weight: 300;
                    line-height: 30px; 
                    text-align: center;
                    color: white;
                    margin-top: 39px;
                    border: none; 
                    cursor: pointer;
                    justify-self: center;
                }
            } 
        }

        .wrapper-extra{
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 999;

            .spacer{
                flex-grow: 2;
                height: auto;
                width: 100%;
            }
     
            .register{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                text-align: center; 
                justify-content: center;
                width: 100%;
                 
                div, a{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 20px;  
                }
        
                div{
                    color: #8EC6BE;  
                } 
        
                a{
                    color: #007362;  
                    cursor: pointer;
                }
            }
        }

        .line-1{
            position: absolute;
            width: 315px;
            height: 500px;
            border-top: 10px solid #022F28;
            border-left: 10px solid #022F28;
            margin-left: -30px;
            z-index: 20;
            // transform: rotate(-90deg);
            border-top-left-radius: 20px;
        }
        .line-2{
            position: absolute;
            width: 345px;
            height: 50px;
            border-bottom: 10px solid #007362;
            border-left: 10px solid #007362;
            margin-top: 545px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            z-index: 30;
            // transform: rotate(-90deg);
        }
        .line-3{
            position: absolute;
            width: 100px;
            height: 585px;
            border-right: 10px solid #007362;
            border-top: 10px solid #007362;
            border-bottom: 10px solid #007362;
            // margin: 0 0 -1000px 0px;
            margin-left: 250px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            z-index: 30;
            // transform: rotate(-90deg);
        }
        .ellipse-1 {
            position: absolute;
            width: 55px;
            height: 55px;
            margin-left: -340px;
            margin-top: 500px;
            border-radius: 40px;
            border: 10px solid #022F28;
            box-sizing: border-box;
            z-index: 40;
            background-color: #EBF5F4;
        }
        
        .ellipse-2 {
            position: absolute;
            width: 55px;
            height: 55px;
            margin-left: 145px;
            margin-top: -20px;
            border-radius: 40px;
            border: 10px solid #007362;
            box-sizing: border-box;
            z-index: 40;
            background-color: #EBF5F4;
        }
    }
}

::ng-deep {
    .mat-form-field-underline{
        height: 1.5px !important;
        background-color: #B6E0DA !important;
    }
    .mat-form-field-ripple{
        background-color: #B6E0DA !important;
    }

    .mat-input-element::placeholder{
        color: #B6E0DA;
    }

    .content{
        font-family: 'Montserrat', sans-serif; 
    }
}