<div class="wrapper">
    <!-- <div class="spacer"> </div> -->
    <div class="main-block">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
        <div class="ellipse-1"></div>
        <div class="ellipse-2"></div>
        <div class="content">
            <div class="title">
                Вход
            </div>
            <form class="form" [formGroup]="form_login">   
                <mat-form-field>
                    <mat-label style="padding-left: 30px; color: #007362; font-weight: 400;">Email / Полис</mat-label>
                    <mat-icon class="icon">person</mat-icon>
                    <input matInput color="accent" placeholder="Введите свой логин" formControlName="login" type="text" name="username">
                    <mat-error *ngIf="login.hasError('required') && login.touched"> 
                        Введите email или полис
                    </mat-error> 
                </mat-form-field>
                <mat-form-field>
                    <mat-label style="padding-left: 30px; color: #007362; font-weight: 400;">Пароль</mat-label>
                    <mat-icon class="icon">lock</mat-icon>
                    <input matInput placeholder="Введите свой пароль" formControlName="password" type="password" name="password">
                    <mat-error *ngIf="password.hasError('required') && password.touched"> 
                        Введите пароль
                    </mat-error>  
                    <div class="forgot-password" (click)="forgotPassword()">Забыли пароль?</div>
                </mat-form-field>
                <button class="submit-btn" style="font-family: 'Montserrat', sans-serif; font-weight: 400;" mat-buttom-raised (click)="onLogin()">Поехали</button>
            </form> 
        </div>
        <div class="wrapper-extra">
            <div class="spacer"></div>
            <div class="register">
                <div>Нет аккаунта?</div>&nbsp;<a (click)="toRegistration()">Зарегистрироваться сейчас</a>
            </div>
        </div>
    </div>
</div>