<div class="wrapper">
    <!-- <div class="spacer"> </div> -->
    <div class="main-block">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
        <div class="ellipse-1"></div>
        <div class="ellipse-2"></div>
        <div class="content">
            <div class="title">
                РЕГИСТРАЦИЯ
            </div>
            <form class="form" [formGroup]="form_register">  
                <mat-form-field>
                    <mat-label style="padding-left: 30px; color: #007362 !important; font-weight: 400;">Имя</mat-label>
                    <mat-icon class="icon">person</mat-icon>
                    <input matInput color="accent" placeholder="Введите своё имя" formControlName="name" type="text" name="name" >
                </mat-form-field>
                <mat-form-field>
                    <mat-label style="padding-left: 30px; color: #007362; font-weight: 400;">Фамилия</mat-label>
                    <mat-icon class="icon">local_library</mat-icon>
                    <input matInput placeholder="Введите свою фамилию" formControlName="surname" type="text" name="surname" >
                </mat-form-field>
                <mat-form-field>
                    <mat-label style="padding-left: 30px; color: #007362; font-weight: 400;">Отчество</mat-label>
                    <mat-icon class="icon">group</mat-icon>
                    <input matInput placeholder="Введите своё отчество" formControlName="patronymic" type="text" name="patronymic" >
                    <mat-error *ngIf="name.hasError('required') && name.touched || surname.hasError('required') && surname.touched || patronymic.hasError('required') && patronymic.touched"> 
                        Введите Имя, Фамилию и Отчество
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label style="padding-left: 30px; color: #007362; font-weight: 400;">Email</mat-label>
                    <mat-icon class="icon">email</mat-icon>
                    <input matInput placeholder="Введите свой Email" formControlName="email" type="email" name="email">
                    <mat-error *ngIf="email.hasError('required') && email.touched"> 
                        Введите Email
                    </mat-error> 
                    <mat-error *ngIf="email.hasError('pattern')"> 
                        Введите корректный Email
                    </mat-error>
                    <mat-error *ngIf="email.hasError('isExist')"> 
                        Данный Email уже занят
                    </mat-error> 
                </mat-form-field>
                <mat-form-field>
                    <mat-label style="padding-left: 30px; color: #007362; font-weight: 400;">Номер медполиса</mat-label>
                    <mat-icon class="icon">chrome_reader_mode</mat-icon>
                    <input matInput placeholder="Введите номер полиса" formControlName="policy" type="text" name="policy">
                    <mat-error *ngIf="policy.hasError('required') && policy.touched"> 
                        Введите номер полиса 
                    </mat-error>  
                </mat-form-field>
                <mat-form-field>
                    <mat-label style="padding-left: 30px; color: #007362; font-weight: 400;">Пароль</mat-label>
                    <mat-icon class="icon">lock</mat-icon>
                    <input matInput placeholder="Введите свой пароль" formControlName="password" type="password" name="password">
                    <mat-error *ngIf="password.hasError('required') && password.touched"> 
                        Введите пароль
                    </mat-error>  
                </mat-form-field>
                <mat-form-field>
                    <mat-label style="padding-left: 30px; color: #007362; font-weight: 400;">Подтверждение пароля</mat-label>
                    <mat-icon class="icon">lock_open</mat-icon>
                    <input matInput placeholder="Введите пароль повторно" formControlName="repeatPassword" type="password">
                    <mat-error *ngIf="repeatPassword.hasError('notSame') && repeatPassword.touched"> 
                        Пароли не совпадают
                    </mat-error>  
                </mat-form-field>
                <button class="submit-btn" style="font-family: 'Montserrat', sans-serif; font-weight: 400;" mat-buttom-raised (click)="onRegister()">Поехали</button>
            </form> 
        </div>
    </div>
</div>