/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat'
);
@include mat-core($custom-typography);

body{
    background: url(assets\background.jpg) no-repeat center;
    background-size: 1600px 900px;
    background-attachment: fixed;
}
html, body{ 
    height: 100%; 
    margin: 0;  
    padding: 0;
    // font-family: 'Montserrat', sans-serif !important;
}  

::ng-deep{
    body{
        font-family: 'Montserrat', sans-serif !important;  
    }
}