<header>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="title">{{title}}</span>
        <span class="spacer"></span>
        <span class="name">{{name}}</span>
        <a>
            <div class="avatar">
                <img alt="avatar"/>
            </div>
            <div class="arrow">
                <mat-icon>arrow_drop_down</mat-icon>
            </div>
        </a>
    </mat-toolbar>
</header>
