header{
    mat-toolbar{
        background-color: #74beb5;
        color: #F8FCFB;
        font-weight: 400;
        .title{
            padding-left: 1%;
        }
        .spacer {
            flex: 1 1 auto;
        }
        .name{
            padding-right: 1%;
        }
        a{
            div{
                display: inline-block;
            }
        }
    }
}