<app-header [title]="title"></app-header>
<div #wrapper class="wrapper">
    <div class="main-container">
        <div #test class="test">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>
    <div class="action">
        <button (click)="shift(-1)"><-</button>
        <button (click)="shift(1)">-></button>
    </div>
</div>