::ng-deep{
    body, html{
        overflow-x: hidden;
    }
}
:host{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
.wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    //wrapper-width - (padding-left - card-width/2) = margin-left
    .main-container{
        margin-top: 50px;
        flex: 1;
        .test{
            margin-left: 10em;
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            // left: 50%;
            // transform: translateX(-50%);
            transition: all .2s linear 0s;
            :first-child{
                margin-left: 80px;
            }
            app-card{
                flex: 0 0 auto;
                margin-right: 80px;
            }

        }
    }
    .action{
        width: 100%;
        display: flex;
        justify-content: center;
        button{
            position: relative;
            top: -5px;
        }
    }
}